.container {
	width: 1200px;
	margin: 0 auto;
  position: relative;
}

#padding {
  padding-top: 100px;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
  overflow: auto;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER AND NAV *****/
header {
  height: 100px;
  position: fixed;
  margin: 0 auto;
  border: 1px solid #77a466;
}

header h1 {
	float: left;
	margin: 0;
	padding: 40px 0;
  color: #ffffff;
}

header nav {
	float: right;
	padding: 46px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:#ffffff;
}

/***** PORTFOLIO SECTION *****/
#portfolio {
  height: 1550px;
  text-align: center;
  border: 1px solid #77a466;
}

#portfolio .full-width {
    /* padding: 115px 0; */
}

#portfolio img {
    padding-bottom: 30px;
}

#portfolio h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
}

#portfolio p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    /* padding: 0 50px; */
}

/***** ABOUT SECTION *****/
#about {
  height: 550px;
  border: 1px solid #77a466;
}

footer {
  height: 400px;
  border: 1px solid #77a466;
}

/***** GRADIENT BACKGROUND AND TWINKLING STARS *****/
#back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

.stars {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  margin-top: 5%;
  margin-left: 80%;
  animation-name: twinkle-2;
  animation-duration: 2.5s;
}

.star-2 {
  margin-top: 3%;
  margin-left: 70%;
  animation-name: twinkle-2;
  animation-duration: 2.5s;
}

.star-3 {
  margin-top: 10%;
  margin-left: 90%;
  animation-name: twinkle-1;
  animation-duration: 2s;
}

.star-4 {
  margin-top: 20%;
  margin-left: 95%;
  animation-name: twinkle-1;
  animation-duration: 2s;
}

@keyframes twinkle-1 {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
